@import url("//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css");

div,
p,
input,
button,
a,
span {
  font-family: 'Spoqa Han Sans Neo';
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

:hover {
  transition: all .35s ease;
}

:root {
  --app-header-height: 56px;
  --border-dark: #707070;
  --calm-purple: #7e71dd;
  --calm-purple-bg-lv0: rgba(126,113,221,0.2);
  --filter-groups-width: 246px;
  --gs-22: #222;
  --gs-44: #444;
  --gs-f7: #f7f7f7;
  --white: #fff;
}


@media screen and (min-width: 992px) {
  :root {
    --app-header-height: 72px;
    --filter-groups-width: 288px;
  }
}